*,*::after, *::before{
    margin:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}   

body{
    font-size: 1.6rem;
}

li{
    list-style: none;
}



.lightNavLink{
    color:white
}

.darkNavLink{
    color:black;
}

a{
    text-decoration: none;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background:#282424;
}

.brand{
    font-weight: bold;
    color:orange;
    font-size:3rem;
}

.navMenu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
    font-family:cursive;
    font-weight: bold;
    color: white;
    z-index: 3;
}

.navToogler div{
    width: 3rem;
    height: 0.2rem;
    margin:0.4rem;
    background: white;
    transition: 0.3s ease-in;
}

.navToogler{
    display: none;
}

@media screen and (max-width:768px) {
    .navToogler{
        cursor: pointer;
        display: block;
    }

    .navMenu{
        position: fixed;
        top:7vh;
        right:0;
        width:50%;
        height:93vh;
        background:#282424;
        flex-direction: column;
        transform: translaTex(100%);
        transition: 0.5s ease-in;
        z-index: 3;
    }
}

.navMenuActive{
    transform: translaTex(0%);
    z-index: 3;
}

.style-iconDark{
    color: white;
    font-size: 20px;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-4px, -5px);
  }